@import "./normalize.css";
@import "./fonts.css";
* {
  box-sizing: border-box;
}

body {
  font-family: "Gilroy", "Arial", "Helvetica", sans-serif;
}

header {
  background: #FFFFFF;
  padding-top: 33px;
  padding-bottom: 30px;
}

.wrapper {
  width: 1320px;
  margin-right: auto;
  margin-left: auto;
}

.account-form {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
  padding-top: 30px;
}

.account-info a {
  display: inline-block;
  padding-right: 15px;
}

.account {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.call_us {
  display: flex;
  justify-content: center;
  gap: 11px;
}

.call_us a {
  display: block;
  width: 161px;
  margin-right: 50px;
}

.phone-number {
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  text-decoration: none;
}

.ring-img {
  display: inline-block;
}

.phone {
  display: inline-block;
  vertical-align: top;
}

.account-info a {
  display: inline-block;
  position: relative;
  margin-right: 15px;
  padding-right: 0;
}

.account-info a:last-child {
  margin-right: 0;
}

.orders-value {
  position: absolute;
  left: 25px;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  color: #FFFFFF;
  background: #06D10E;
  border-radius: 50%;
  padding: 3px 6px;
}

.navigation-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation {
  margin-top: 59px;
}

.search {
  margin-top: 46px;
}

.navigation-link {
  margin-right: 40px;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #4F4F4F;
  text-decoration: none;
}

.navigation-link:last-child {
  margin-right: 0;
}

.active-link {
  position: relative;
  margin-right: 59px;
}

.active-link::after {
  content: url(../images/pointer.png);
  position: absolute;
  bottom: 3px;
}

.search-form {
  position: relative;
  width: 345px;
  background: #F2F2F2;
  border: 1px solid #BDBDBD;
  border-radius: 10px;
}

.search-form input, .search-form button {
  border: none;
  border-radius: 10px;
}

.search-form input {
  width: 100%;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #828282;
  background: #F2F2F2;
  padding-top: 17px;
  padding-bottom: 16px;
  padding-left: 20px;
  padding-right: 54px;
}

.search-form button {
  height: 31px;
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 0;
  margin-right: 7px;
}

main {
  background-color: #E5E5E5;
  background-size: cover;
}

.catalog {
  padding-top: 75px;
  position: relative;
}

.catalog a {
  display: inline-block;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #BDBDBD;
  text-decoration: none;
  padding-right: 35px;
}

.catalog a:last-child {
  padding-right: 0;
}

.catalog .main-link::after {
  content: url(../images/Circle.png);
  position: absolute;
  right: 16px;
}

.catalog .main-link {
  padding-top: 0;
}

.back-button {
  position: relative;
  margin-top: 30px;
  margin-bottom: 44px;
  padding-left: 22px;
}

.back-button a {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #333333;
  text-decoration: none;
}

.back-button a::before {
  content: url(../images/left-pointer.png);
  position: absolute;
  left: 7px;
}

.cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 46px 20px;
}

.card {
  width: 315px;
  padding: 20px 20px 30px 20px;
  border: 1px solid #F2F2F2;
  box-shadow: -8px -8px 15px rgb(255, 255, 255), 8px 8px 15px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

.new-arrivals {
  position: absolute;
  right: 1%;
  top: 1%;
  width: 89px;
  height: 35px;
}

.item {
  width: 275px;
  height: 227px;
  background-color: white;
}

.product-name {
  font-weight: 600;
  font-size: 24px;
  line-height: 130%;
  color: #333333;
  margin-top: 25px;
  margin-bottom: 0;
}

.product-discription {
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #828282;
  margin-top: 5px;
}

.price {
  margin-top: 25px;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: #333333;
}

.form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form input {
  display: none;
}

.value {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #4F4F4F;
  align-content: center;
  padding: 4px 12px;
}

.form input:checked + .value {
  outline: 1px solid #3ECF5E;
  border-radius: 5px;
  background-color: #FFFFFF;
}

.buy-block {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;
}

.card-button {
  display: block;
  padding: 12px 32px;
  background: #3FCF5E;
  border: 1px solid rgba(5, 175, 52, 0.53);
  border-radius: 10px;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
}

.cart {
  display: block;
  padding: 8px 9px 8px 8px;
  background: #FFFFFF;
  border: 1px solid #BDBDBD;
  border-radius: 10px;
  display: flex;
  justify-content: center;
}

.cart img {
  display: block;
}

.pages {
  margin-top: 50px;
  padding-bottom: 100px;
  display: flex;
  justify-content: center;
}

.pages a {
  display: block;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #828282;
  margin-right: 20px;
  position: relative;
  text-decoration: none;
}

.first-page::before {
  content: url(../images/Arrow-left.svg);
  position: absolute;
  right: 30px;
}

.last-page::after {
  content: url(../images/Arrow-right.png);
  position: absolute;
  left: 30px;
}

.pages a:first-child {
  color: #219653;
}

.pages span:last-child {
  margin-right: 0;
}

footer {
  background-color: #333333;
}

.footer {
  padding-top: 100px;
  padding-bottom: 132px;
  display: flex;
  justify-content: space-between;
}

.delivery-info {
  display: flex;
  justify-content: center;
  gap: 47px;
}

.delivery-info a {
  display: block;
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
}

.social-media {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.social-media a {
  display: inline-block;
}

.last.phone {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
  margin-left: 11px;
}